@mixin border($position){
    z-index: 90;
    position: $position;
    text-align: center;
    width: 1190px;
    pointer-events: none;
    display:flex;
    @content
}

#info,
#restart {
    position: relative;
    z-index: 70;
}