/* css for the doom screen */
#border-div {
  z-index: 90;
  position: absolute;
  text-align: center;
  width: 1190px;
  pointer-events: none;
}

#info,
#restart {
  position: relative;
  z-index: 70;
}

/* Buttons Divs*/
/* TOP */
#left-buttons {
  width: 140px;
  height: 125px;
  z-index: 4;
  position: absolute;
  left: 24%;
  top: 15%;
  transform: translate(-35%, -50%);
}

#center-buttons {
  width: 150px;
  height: 125px;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-35%, -50%);
}

#right-buttons {
  width: 110px;
  height: 110px;
  z-index: 4;
  position: absolute;
  left: 88%;
  top: 30%;
  transform: translate(-50%, -50%);
}

#center-left {
  width: 200px;
  height: 250px;
  z-index: 3;
  position: absolute;
  left: 30%;
  top: 76.5%;
  transform: translate(-50%, -50%);
}
#center-left #keypad {
  z-index: 7;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 34px;
  bottom: 60px;
}
#center-left #big-keys {
  z-index: 999;
  position: absolute;
  width: 90px;
  height: 80px;
  left: 105px;
  bottom: 71px;
}

#center-console {
  width: 200px;
  height: 250px;
  z-index: 4;
  position: absolute;
  left: 51%;
  top: 68%;
  transform: translate(-50%, -50%);
}

#center-right {
  width: 250px;
  height: 250px;
  z-index: 3;
  position: absolute;
  left: 72%;
  top: 77%;
  transform: translate(-50%, -50%);
}

html {
  background-color: rgb(20, 10, 58);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  /* holds all divs */
}
body #container {
  position: relative;
  display: flex;
  width: 1000px;
  height: 700px;
  margin: 50px;
}

#sky {
  position: fixed;
  width: 1000px;
  height: auto;
}
#sky #bg {
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

#top {
  position: fixed;
  width: 1000px;
  height: auto;
  display: block;
  z-index: 3;
  height: 35%;
}

#top-bg {
  width: 1000px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

#bottom {
  position: fixed;
  width: 1000px;
  height: auto;
  display: block;
  z-index: 1;
  height: 667px;
}
#bottom #bottom-bg {
  width: 100%;
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 1000px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

/* Mobile orientation, unfinished */
@media (max-width: 800px) {
  html {
    transform: rotate(90deg);
    width: 100vh;
    height: 100vw;
    position: absolute;
  }
  #container {
    margin: 0px;
  }
}
#border-div {
  z-index: 90;
  position: absolute;
  text-align: center;
  width: 1190px;
  pointer-events: none;
}

#info,
#restart {
  position: relative;
  z-index: 70;
}

html {
  background-color: rgb(20, 10, 58);
}

#container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: 50px;
}

#red-console,
#sky {
  position: fixed;
  width: 1000px;
  height: auto;
}

#you-lose,
#bg {
  width: 100%;
  pointer-events: none;
}

/* ANIMATION */
#red-console {
  z-index: 2;
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-7px, 20px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#border-div {
  z-index: 90;
  position: absolute;
  text-align: center;
  width: 1190px;
  pointer-events: none;
}
#border-div #border {
  width: 100%;
  pointer-events: none;
}

#info,
#restart {
  position: relative;
  z-index: 6;
}/*# sourceMappingURL=doom.css.map */