/* css for the doom screen */
@use "sass:math";
@import "border";


html {
    background-color: rgb(20, 10, 58);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    /* holds all divs */
    #container {
        position: relative;
        display: flex;
        width: 1200px;
        height: 700px;
    }
}

#red-console,
#sky {
    position: fixed;
    width: 1000px;
    height: auto;
}

#you-lose,
#bg {
    width: 100%;
    pointer-events: none;
}

/* ANIMATION */
#red-console {
    z-index: 2;
    animation: shake 0.8s;
    animation-iteration-count: infinite;
}



//makes a random number for the shake animation
@function get-random-num($max) {
    @return random($max)
}

;

//array for shake animation
$percents: 0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%;


@keyframes shake {
    @each $percent in $percents {
        #{$percent} {
            transform: translate(get-random-num(4)px, get-random-num(2)px) rotate(get-random-num(3)deg);
        }
    };
};

#border-div {
    @include border(absolute);

    #border {
        width: 100%;
        pointer-events: none;
    }
}