//Requirements
// 10-15 SCSS variables
// 10-15 nested selectors, with at least 2 uses of the SCSS ampersand (&)
// 3-5 SCSS mixins
// 2-4 SCSS functions
// 2-4 instances of SCSS flow control directives or operators
// 3-5 SCSS partial files, imported
// One of the SCSS error-handling directives

@import "border";
@import "top-console";
@import "bottom-console";


//variables
$background-color: rgb(20, 10, 58);

html {
    background-color: $background-color;
}

@mixin background-size($z) {
    position: fixed;
    width: 1000px;
    height: auto;
    display: block;
    z-index: $z;
    @content
};

@mixin no-pointer-events {
    width: 100%;
    pointer-events: none;
    @content
};

#border-div {
    @include border(absolute);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    /* holds all divs */
    #container {
        position: relative;
        display: flex;
        width: 1000px;
        height: 700px;
        margin: 50px;
    }
}


#sky {
    position: fixed;
    width: 1000px;
    height: auto;

    #bg {
        @include no-pointer-events();
        z-index: 0;
    }
}



#top {
    @include background-size(3);
    height: 35%;
}

#top-bg {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0%;

}

#bottom {
    @include background-size(1);
    height: 667px;

    #bottom-bg {
        @include no-pointer-events();
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 1000px;
        height: 500px;
        object-fit: cover;
        object-position: 100% 100%;
    }
}


/* Mobile orientation, unfinished */
@media (max-width: 800px) {
    html {
        transform: rotate(90deg);
        width: 100vh;
        height: 100vw;
        position: absolute;

    }

    #container {
        margin: 0px;

    }
}