html {
    background-color: rgb(20, 10, 58);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container {
    position: relative;
    width: 1000px;
    height: 667px;
    margin: 50px;
}

#sky,
#top,
#bottom {
    position: fixed;
    width: 1000px;
    height: auto
}

#bg {
    z-index: 0;
}

#top {
    z-index: 3;
    height: 50%;
}

#bottom {
    z-index: 1;
}

#top-bg,
#bottom-bg,
#bg {
    width: 100%;
    pointer-events: none;
}
/* Buttons Divs*/
/* TOP */
#left-buttons {
    width: 140px;
    height: 125px;
    z-index: 4;
    position: absolute;
    left: 24%;
    top: 14%;
    transform: translate(-35%, -50%);
}

#center-buttons {
    width: 150px;
    height: 125px;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-35%, -50%);
}

#right-buttons {
    position: absolute;
    z-index: 4;
    width: 110px;
    height: 110px;
    left: 88%;
    top: 30%;
    transform: translate(-50%, -50%);
}

/* BOTTOM */
#center-left {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 250px;
    left: 30%;
    top: 76.5%;
    transform: translate(-50%, -50%);
}

#center-console {
    position: absolute;
    z-index: 4;
    width: 200px;
    height: 250px;
    left: 51%;
    top: 75%;
    transform: translate(-50%, -50%);
}

#keypad {
    z-index: 4;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 34px;
    bottom: 60px;
}

#big-keys {
    z-index: 4;
    position: absolute;
    width: 90px;
    height: 80px;
    left: 105px;
    bottom: 71px;
}

#center-right{
    position: absolute;
    z-index: 3;
    width: 250px;
    height: 250px;
    left: 72%;
    top: 77%;
    transform: translate(-50%, -50%);
}

/* .switch{
    z-index: 5;
} */

/* Figure out how to get the image to fill the entire screen*/
@media (max-width: 800px) {
    html {
        transform: rotate(90deg);
        width: 100vh;
        height: 100vw;
        position: absolute;

    }

    #container {
        margin: 0px;

    }
}