html{
    background-color: rgb(20, 10, 58);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container {
    position: relative;
    width: 1000px;
    height: 667px;
    margin: 50px;
    display: flex;
    justify-items: center;
}

#bg, #top, #bottom {
    position: absolute;
    width: 100%;
    height:auto
}
/* doesn't scale well */
#circleDash{
    z-index: 2;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 49%;
    left: 44%;
}

#bg{
    z-index: 1;
}

#top {
    z-index: 4;
}

#bottom {
    z-index: 3;
}
/* Figure out how to get the image to fill the entire screen*/
@media (max-width: 800px) {
    html {
        transform: rotate(90deg);
        transform-origin: right top;
        width: 100vh;
        height: 100vw;
        /* overflow-x: hidden; NOT SURE WHAT THIS DOES*/
        position: absolute;
        top: 100%;
        right: 0;

    }
    #container{
        margin: 0px;

    }
}